<mat-card>
  <form [formGroup]="verification">
    <mat-form-field style="width: 200px;">
      <input matInput placeholder="Enter your verification code" formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Set your password" [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  <!--
    <mat-form-field>
      <input matInput placeholder="Duplicate your password" [type]="hide ? 'text' : 'password'" formControlName="password2">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  -->
    <button mat-button (click)="verifyCodeAndPassword()" color="primary">go</button>
  </form>
</mat-card>