<mat-card>
  <form [formGroup]="financialForm">
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Amount" formControlName="amount">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Type" formControlName="type">
          <mat-option *ngFor="let option of financialEventOptions" [value]="option.value">{{option.displayName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="If excess amount" formControlName="excessAmount">
          <mat-option value="principal_ignoreFees">Reduce Principal & ignore fees</mat-option>
          <mat-option value="fees_principal">Reduce Fees then Principal</mat-option>
          <mat-option value="principal_fees">Reduce Principal then Fees</mat-option>
          <mat-option value="futurePayment">Reduce Future Payments</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="addFinancialTransaction()">Add</button>
      <button mat-raised-button (click)="resetFinancialTransaction()">Reset</button>
    </div>
    <div>
      <mat-form-field>
          <textarea matInput placeholder="comment" formControlName="comment"></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-card>
