<mat-card *ngIf="!registerPrompt">
  <form [formGroup]="emailPassword">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-button (click)="processEmailPassword()" color="primary">go</button>
  </form>
</mat-card>
<mat-card *ngIf="registerPrompt">
  <div>
      <button mat-raised-button (click)="accountCreate()" color="primary">Continue with new account registration</button>
    <button mat-raised-button (click)="registerPrompt = !registerPrompt" color="warn">Try different email & password combination</button>
    
  </div>
</mat-card>