<mat-card >
    <form [formGroup]="addPerson">
      <mat-form-field style="width: 400px;">
        <input matInput placeholder="Enter their email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Authorization Tier" formControlName="tier">
          <mat-option *ngFor="let tier of tiers" [value]="tier.value">
            {{tier.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button  (click)="processAddPerson()" color="primary">Add & Invite</button>
    </form>
  </mat-card>

  <div [formGroup]="formGroupRows">
      <mat-card *ngFor="let row of formGroupRows.get('rows').controls; let idx = index" [formGroup]="row">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" [readonly]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Access" formControlName="tier">
            <mat-option *ngFor="let tierRow of tiers" [value]="tierRow.value">{{tierRow.displayName}}</mat-option>
          </mat-select> 
        </mat-form-field>
        <button mat-raised-button [disabled]="false">Resend Invite</button>
        <button mat-raised-button (click)="removeIdxEmailfromAccount(idx)">Remove</button>
      </mat-card>
  </div>
<div>
  still need to not allow removal of all admins. or it will orphen the account. <br>
  also maybe should create an owner role, that is different from an admin.
</div>