.sty-fixed-header{
    position: fixed;
    height: 46px;
    width: 100%;
   display: flex;
   flex-direction: row;
   background-color: azure;
   justify-content: space-between;
   align-content: flex-start;
   z-index: 1;
}
.sty-left-header{
    display: flex;
    flex-direction: row;
}