<div class="sty-fixed-header">

    <!--<div class="sty-left-header">
        <form [formGroup]="selectAccount">
            <mat-form-field style="width: 250px;">
                <mat-select formControlName="selected">
                    <mat-option *ngFor="let account of accountSelectOptions" [routerLink]="account.routerLink" [value]="account.value">{{account.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 250px;">
                <mat-select>
                    <mat-option *ngFor="let option of withinAccountOptions" [routerLink]="[option.routerLink]" [value]="option.value">{{option.display}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 250px;">
                    <mat-select>
                        <mat-option *ngFor="let option of slot3" [routerLink]="[option.routerLink]" [value]="option.value">{{option.display}}</mat-option>
                        
                    </mat-select>
                </mat-form-field>      
        </form>
        -->
<!--        <mat-form-field *ngFor="let menuSelection of navigationMenu; let idx = index">
            <mat-select [value]="selectedNavigationOptions[idx]">
                <mat-option *ngFor="let option of menuSelection" [value]="option.value" [routerLink]="option.routerLink">{{option?.display}}</mat-option>
            </mat-select>
        </mat-form-field>      
    </div>
-->
    <app-nav-menu2></app-nav-menu2>
    <div>
        <button mat-button [routerLink]="['/profile']"  color="primary">Your Profile</button>
        <button mat-button (click)="logout()" color="warn">logout</button>
    </div>
</div>