<mat-card *ngIf=displayMenu>
    <button mat-button *ngFor="let item of routerMenu" [routerLink]="['./', item.routerLink]" >{{item.display}}</button>
</mat-card>

<p>
  account-manage-home works!
</p>
<mat-card>
    <form class="example-form" [formGroup]="updateAccount">
      <mat-form-field>
        <input matInput placeholder="Account Name" formControlName="name">
      </mat-form-field>
    </form>

</mat-card>
