<mat-card *ngIf=displayMenu>
  <button mat-button *ngFor="let menuItem of routerMenu" [routerLink]="['./', menuItem.routerLink]">{{menuItem.display}}</button>
</mat-card>
<router-outlet></router-outlet>