<ng-container *ngFor="let button of buttons; let idx = index">
    <button mat-button [matMenuTriggerFor]="menuSet">{{button.display}}</button>
    <mat-menu #menuSet="matMenu">
        <button mat-menu-item *ngFor="let option of menus[idx]" [routerLink]="option.fullPath">{{option?.display}}</button>
    </mat-menu>
</ng-container>
    
