<mat-card>
  <button mat-button [routerLink]="['./', 'create']">Create new Obligation</button>
</mat-card>

<mat-card *ngFor="let obligation of borrowerObligations">
  <button mat-button [routerLink]="['./' + obligation._id]">{{obligation.make}}</button>

</mat-card>