<mat-card>
  <form [formGroup]="communicationForm">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Method</mat-label>
      <mat-select formControlName="method">
        <mat-option *ngFor="let methodOption of methodOptions" [value]="methodOption.value">{{methodOption.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Direction</mat-label>
      <mat-select formControlName="direction">
        <mat-option *ngFor="let directionOption of directionOptions" [value]="directionOption.value">{{directionOption.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Disposition Tags</mat-label>
      <mat-select multiple formControlName="tags">
        <mat-option *ngFor="let dispositionOption of dispositionOptions" [value]="dispositionOption.value">{{dispositionOption.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        <mat-option *ngFor="let stateOption of stateOptions" [value]="stateOption.value">{{stateOption.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addCommunicationTransaction()">Add</button>
    <button mat-raised-button (click)="resetcommunicationTransaction()">Reset</button>
  </form>
</mat-card>