<mat-card>
  <button mat-button>Create</button>
  <form class="example-form" [formGroup]="menuForm">
      <mat-form-field class="sty_projected_field">
          <mat-select  placeholder="Show Options" formControlName="advancedOptions">
            <mat-option value="basic">Basic Options</mat-option>
            <mat-option value="advanced">Advanced Options</mat-option>
          </mat-select>
        </mat-form-field>   

  </form>
</mat-card>

<mat-card>
  <form class="example-form" [formGroup]="addAsset">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Make" formControlName="make">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Model" formControlName="model">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="VIN" formControlName="vin">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Manufacture Year" formControlName="year">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Additional Information" formControlName="additionalInformation"></textarea>
    </mat-form-field>
  </form>

<mat-tab-group>
    <mat-tab label="New">
        <form class="example-form" [formGroup]="addTerm">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="contractCreatedDateTime" placeholder="Origination Date" formControlName="contractCreatedDateTime">
              <mat-datepicker-toggle matSuffix [for]="contractCreatedDateTime"></mat-datepicker-toggle>
              <mat-datepicker #contractCreatedDateTime></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="projectedFirstPaymentDateTime" placeholder="First Payment Due Date" formControlName="projectedFirstPaymentDateTime">
              <mat-datepicker-toggle matSuffix [for]="projectedFirstPaymentDateTime"></mat-datepicker-toggle>
              <mat-datepicker #projectedFirstPaymentDateTime></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Number of payments" formControlName="intervals">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Payment Frequency" formControlName="intervalLabel">
                <mat-option *ngFor="let frequency of loanS.frequencyOptions" [value]="frequency.value">
                  {{frequency.displayName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Annual Interest Rate" formControlName="annualInterestRate">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="principal" formControlName="principal">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fees" formControlName="feeDebt">
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
                <input matInput placeholder="Interval Amount {{loanSummary?.recorded?.intervalPayment}}" formControlName="intervalPayment">
              </mat-form-field>
              <mat-form-field class="sty_projected_field" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
                  <mat-select  placeholder="Last Payment to Interval Payment Difference" formControlName="lastPaymentLabel">
                    <mat-option value="retainIntervalPayment">Retain Interval Payment (may not collect all principal)</mat-option>
                    <mat-option value="lastPaymentMatchesPrincipal">Last Payment Matches Principal</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
                    <input matInput [matDatepicker]="interestAccruedDateTime" placeholder="Start Interest Accrual" formControlName="interestAccruedDateTime">
                    <mat-datepicker-toggle matSuffix [for]="interestAccruedDateTime"></mat-datepicker-toggle>
                    <mat-datepicker #interestAccruedDateTime></mat-datepicker>
                  </mat-form-field>
          </form>


    </mat-tab>
    <mat-tab label="Existing"> interval payment and other stuff </mat-tab>
    <mat-tab label="Advanced"> 
      component here
    </mat-tab>
  </mat-tab-group>
</mat-card>
<!--
<mat-card>
  <mat-card-title>Term</mat-card-title>
  
    <form class="example-form" [formGroup]="addTerm">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="contractCreatedDateTime" placeholder="Origination Date" formControlName="contractCreatedDateTime">
        <mat-datepicker-toggle matSuffix [for]="contractCreatedDateTime"></mat-datepicker-toggle>
        <mat-datepicker #contractCreatedDateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <input matInput [matDatepicker]="interestAccruedDateTime" placeholder="Start Interest Accrual" formControlName="interestAccruedDateTime">
        <mat-datepicker-toggle matSuffix [for]="interestAccruedDateTime"></mat-datepicker-toggle>
        <mat-datepicker #interestAccruedDateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="projectedFirstPaymentDateTime" placeholder="First Payment Due Date" formControlName="projectedFirstPaymentDateTime">
        <mat-datepicker-toggle matSuffix [for]="projectedFirstPaymentDateTime"></mat-datepicker-toggle>
        <mat-datepicker #projectedFirstPaymentDateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <input matInput [matDatepicker]="projectedLastPaymentDateTime" placeholder="Final Payment Due Date" formControlName="projectedLastPaymentDateTime">
        <mat-datepicker-toggle matSuffix [for]="projectedLastPaymentDateTime"></mat-datepicker-toggle>
        <mat-datepicker #projectedLastPaymentDateTime></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Number of payments" formControlName="intervals">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Payment Frequency" formControlName="intervalLabel">
          <mat-option *ngFor="let frequency of loanS.frequencyOptions" [value]="frequency.value">
            {{frequency.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <input matInput placeholder="Interval Amount {{loanSummary?.recorded?.intervalPayment}}" formControlName="intervalPayment">
      </mat-form-field>
      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select placeholder="Interval Payment Cut or Round" formControlName="intervalPaymentCutOrRound">
          <mat-option value="round">Round payment (may result in a lower last payment)</mat-option>
          <mat-option value="cut">Cut payment (will result in a higher last payment)</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select placeholder="Initial Excess Interest" formControlName="initialInterestAccrualGreaterthanIntervalLabel">
          <mat-option value="extraPayment">Extra upfront payment</mat-option>
          <mat-option value="adjustFirst">Adjust First Payment</mat-option>
          <mat-option value="paymentPercentage">pay off a percentatage each payment</mat-option>
          <mat-option value="includeLastPayment">Include in last Payment</mat-option>
        </mat-select>
      </mat-form-field>   

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Annual Interest Rate" formControlName="annualInterestRate">
      </mat-form-field>
      <mat-form-field  *ngIf="menuForm.get('advancedOptions').value == 'advanced'" class="example-full-width">
        <input matInput placeholder="Debt {{loanSummary?.recorded?.debt}}" formControlName="debt"  [readonly]="true">
      </mat-form-field>
      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'"  class="example-full-width">
        <input matInput placeholder="Loan Debt {{loanSummary?.recorded?.loanDebt}}" formControlName="loanDebt" [readonly]="true">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="principal" formControlName="principal">
      </mat-form-field>
      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'" class="example-full-width">
        <input matInput placeholder="Interest due" formControlName="interest">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Fees" formControlName="feeDebt">
      </mat-form-field>

      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select placeholder="Compounding Frequency" formControlName="compoundFrequency">
          <mat-option *ngFor="let frequency of loanS.compoundFrequencyOptions" [value]="frequency.value">
            {{frequency.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select placeholder="Days per year" formControlName="daysPerYearLabel">
          <mat-option value="real/365">365 days in Year</mat-option>
          <mat-option value="real/30/360">Real% 30/360</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sty_projected_field" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select  placeholder="Last Payment to Interval Payment Difference" formControlName="lastPaymentLabel">
          <mat-option value="retainIntervalPayment">Retain Interval Payment (may not collect all principal)</mat-option>
          <mat-option value="lastPaymentMatchesPrincipal">Last Payment Matches Principal</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sty_projected_field" *ngIf="menuForm.get('advancedOptions').value == 'advanced'">
        <mat-select  placeholder="Last Payment Cut or Round" formControlName="lastPaymentCutOrRound">
          <mat-option value="round">Round Payment</mat-option>
          <mat-option value="cut">Cut Payment</mat-option>
        </mat-select>
      </mat-form-field>   
    </form>
  </mat-card>
-->


<mat-card>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Amortization Table
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let row of loanSummary?.recorded?.schedule">
            <mat-form-field class="sty_schedule_cell">
              <input matInput placeholder="Date"  value="{{(row?.dateTime | amFromUnix) | amDateFormat: 'MM/DD/YYYY' }}" >
            </mat-form-field>
            
            <mat-form-field class="sty_schedule_cell">
              <input matInput placeholder="Payment" [matTooltip]="row?.paid?.payment"  [value]="row?.paid?.payment" matTooltipPosition="below">
            </mat-form-field>
              
            <mat-form-field class="sty_schedule_cell">
              <input matInput placeholder="Paid Interest" [matTooltip]="row?.paid?.paymentInterest"  [value]="row?.paid?.display?.paymentInterest" matTooltipPosition="below">
            </mat-form-field>
            <mat-form-field class="sty_schedule_cell">
              <input matInput placeholder="Paid Principal" [matTooltip]="row?.paid?.paymentPrincipal" [value]="row?.paid?.display?.paymentPrincipal " matTooltipPosition="below">
            </mat-form-field>
            <mat-form-field class="sty_schedule_cell">
              <input 
                matInput placeholder="Remaing Principal" 
                [matTooltip]="row?.remaining?.principal"
                [value]="row?.remaining?.display?.principal"
                matTooltipPosition="below"
              >
            </mat-form-field>
          </mat-card>
      
      </mat-expansion-panel>
    </mat-accordion>

  <mat-card>
    <mat-card>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder=""  value="Projected Totals:" [readonly]="true" >
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Sum Payments" [value]="loanSummary?.recorded?.projectedPaid?.payments">
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Sum Interest" [value]="loanSummary?.recorded.projectedPaid?.interest">
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Sum Principal" [value]="loanSummary?.recorded?.projectedPaid?.principal">
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Principal Remaing" [value]="loanSummary?.remaining?.display?.principal">
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder=""  value="Formula Totals:" [readonly]="true" >
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Payments" [value]="loanSummary?.recorded?.projectedPaid?.formulas?.payments">
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Sum Interest" [value]="loanSummary?.recorded.projectedPaid?.formulas?.interest">
      </mat-form-field>
      <mat-form-field class="sty_schedule_cell">
        <input matInput placeholder="Sum Principal" [value]="loanSummary?.recorded?.principal">
      </mat-form-field>
    </mat-card>
  </mat-card>
</mat-card>