<div>
  <mat-card *ngFor="let borrower of listBorrowers">
    <button mat-raised-button [routerLink]="['./' + borrower._id]">{{borrower.firstName}}</button>
    <button mat-raised-button>exapand...</button>
    <button mat-raised-button [routerLink]="['./'+ borrower._id + '/obligation']">Obligation</button>
    <button mat-raised-button (click)="remove( borrower._id )">Remove</button>
  </mat-card>
</div>
<div>
  need to think of how to not add a duplicate borrower... because right now nothing is uniqie. <br>
  perhaps ssn, but that can be miss typed...<br>
  also SSN shouldn't be unique because people may enter the same "person" with different data accross accounts<br>
  it is tempting to add more to this to identify borrowers status... just be careful. this is to add/remove/alert borrowers profile
</div>