<div>
  Use components / child components better<br>
  implement actual user accounts with passwords<br>
  standardize how api 
</div>
<div>
  Operations and who can do what:<br>
  do own tasks <br>
  view others tasks<br>
  view others bank <br>
  remove tasks from todays tasklist<br>
  add/remove items from todo bank <br>
  ?database management screens, maybe just do this though the commandline, but api's are written to do this<br>

</div>