<mat-card >
  <form [formGroup]="addBorrower">
    <mat-form-field style="width: 400px;">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
    <!--
    <form [formGroup]="addBorrower">
      <mat-form-field style="width: 400px;">
        <input matInput placeholder="Number" formControlName="number">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Number type" formControlName="type">
        <mat-option *ngFor="let type of phoneTypes" [value]="type.value">
          {{type.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    -->
    <button mat-button  (click)="processAddBorrower()" color="primary">Add Borrower</button>
  </form>
</mat-card>