<mat-card>
    <button mat-button *ngFor="let button of navMenu" [routerLink]="['./',button.routerLink]" >{{button.display}} </button>
</mat-card>

<mat-card>
    make: {{loan?.make}}<br>
    startingprincipal/debt: {{loan?.originalPrincipal}}<br>
    payment: {{loan?.intervalPayment}}<br>
    intervals: {{loan?.interval}}<br>
    frequency: {{loan?.frequencyLabel}}<br>
    annual Interest Rate: {{loan?.annualInterestRate}}<br>
    totalAllpayments:{{loan?.totalAllPayments}} ||  <br>
    totalAllInterest:{{loan?.totalAllInterest}} || {{loan?.qaCalcs?.actualTotalInterest}}<br>
    totalAllPrincipalPaid: {{loan?.qaCalcs?.totalSchedulePrincipal}} || {{loan?.qaCalcs?.actualTotalPrincipalPaid}} <br>
    Interest Last Accrued: {{ (loan?.when?.interestAccrued | amFromUnix | amDateFormat: 'MM/DD/YYYY')}}
</mat-card>
<mat-card>
row, interest, principal, remainingDebt
</mat-card>

<mat-card *ngFor="let schedule of loan?.paymentSchedule; let idx = index">
    {{idx}}, {{schedule?.interest}}, {{schedule?.principal}}, {{schedule?.loanDebt}}<br>
    {{idx}}, {{loan?.qaCalcs?.actualPayments[idx]?.accruedInterest}}, {{loan?.qaCalcs?.actualPayments[idx]?.principalPaid}}, {{loan?.qaCalcs?.actualPayments[idx]?.debt}}

</mat-card>
component borrower-obligation