
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title  *ngIf="!displayAddButton" (click)="displayAddButton = !displayAddButton">
        Open Add Event
      </mat-panel-title>
      <mat-panel-title *ngIf="displayAddButton" (click)="displayAddButton = !displayAddButton">
          Close Add Event
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Financial"><app-create-financial-event></app-create-financial-event></mat-tab>
      <mat-tab label="Communication"><app-create-communication-event></app-create-communication-event></mat-tab>
    </mat-tab-group>  
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  payment: {{loan?.intervalPayment}} <br>
  debt: {{loan?.debt}}<br>
  --loan debt: {{loan?.loanDebt}}<br>
  ----Principal: {{loan?.principal}}<br>
  ----interest: {{loan?.interest}}<br>
  fees: {{loan?.feeDebt}} <br>
  Accrual Period Starts: {{ (loan?.when?.interestAccrued | amFromUnix | amDateFormat: 'MM/DD/YYYY')}}
</mat-card>

<mat-card>
  <form [formGroup]="displayForm">
    <mat-form-field style="width: 200px;">
      <mat-select placeholder="Order by" formControlName="dateOrderBy">
        <mat-option value="chronological">Chronological</mat-option>
        <mat-option value="reverse_chronological">Reverse Chronological</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 400px;" >
      <mat-select placeholder="Display" multiple formControlName="displayEventType">
        <mat-option value="financial">Financial</mat-option>
        <mat-option value="communication">Communication</mat-option>
        <mat-option value="onlyNext">Next Payment Date (future)</mat-option>
        <mat-option value="schedule">Payment Schedule (future)</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card>
<mat-card *ngFor="let row of events;">
  <span *ngIf="row.type">
    <mat-icon *ngIf="row?.type.includes('communication')" aria-hidden="false" aria-label="communication event">perm_phone_msg</mat-icon>
    <mat-icon *ngIf="row?.type.includes('financial')" aria-hidden="false" aria-label="">attach_money</mat-icon>
  </span>
  <mat-icon *ngIf="!row.type" aria-hidden="false" aria-label="">local_atm</mat-icon>
  
  <mat-form-field style="width: 100px;">
    <input matInput placeholder="Date " [value]="(row.dateTime | amFromUnix) | amDateFormat: 'MM/DD/YYYY' " [readonly]="true">
  </mat-form-field>
  <mat-form-field *ngIf="row.type" style="width: 100px;">
    <input matInput placeholder="Amount" [value]="row.amount" [readonly]="true">
  </mat-form-field>
  <mat-form-field *ngIf="!row.type" style="width: 100px;">
    <input matInput placeholder="Amount" [value]="loan.intervalPayment" [readonly]="true">
  </mat-form-field>
  
  <button mat-raised-button *ngIf="!row.type" color="primary" (click)="makePayment(row.dateTime, loan.intervalPayment)">Make Payment</button>
  <button mat-raised-button color="secondary">Expand</button>
</mat-card>
