<mat-card >
  <form [formGroup]="verification">
    <mat-form-field style="width: 200px;">
      <input matInput placeholder="Enter your verification code" formControlName="code">
    </mat-form-field>
    <button mat-button (click)="verifyCode()" color="primary">go</button>
  </form>
</mat-card>