.sty-private{
    display: flex;
    flex-direction: column;
}
.sty-private-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}