<div class="sty-private">
    <app-private-header></app-private-header>
    <div style="height: 46px;"></div>
    <router-outlet class="sty-main-body"></router-outlet>
    <div style="height: 40px;"></div>
    <app-private-footer class="sty-private-footer"></app-private-footer>
</div>